NEXT_PUBLIC_SITE_URL="https://factusjs.vercel.app"

NEXT_PUBLIC_GITHUB_USER=sbetav
NEXT_PUBLIC_GITHUB_REPO=factus-js
EXT_PUBLIC_GITHUB_BRANCH=main

NEXT_PUBLIC_DOCS_CONTENT_PATH_IN_REPO=apps/docs/content/docs
